html, body {
    height: 100%;
}

header {
    position: relative;
    font-family: 'Happy Monkey', cursive;
    color: white;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header > div {
    z-index: 30;
}

header::before {
    content: ' ';
    background: url('../media/headerbackground.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
}

header::after {
    content: ' ';
    background: rgba(0, 0, 0, 0.6);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1 {
    font-size: 2.5rem;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
}

header h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

header img {
    margin-left: 25px;
    max-height: 250px;
    border-radius: 10%;
}

header a, header a:hover {
    color: inherit;
    text-decoration: inherit;
}

header a:hover {
    color: dodgerblue;
}

nav {
    position: fixed !important;
    top: 10px;
    left: 10px;
    padding: 0 !important;
    mix-blend-mode: difference;
}

nav ul li a, nav ul li span {
    font-size: 1.4rem;
    color: white !important;
}

nav ul li span {
    cursor: pointer;
}

header .arrow {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 20px;
    border: solid lightgray;
    border-width: 0 2px 2px 0;
    cursor: pointer;
}

#merch {
    position: absolute;
    top: 10px;
    right: 10px;
}

main section {
    text-align: center;
    margin: 30px 0;
}

main section h2 {
    font-size: 2.3rem;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

main section p {
    text-align: left;
    font-size: 1.1rem;
}

#about > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about p {
    padding-top: 25px;
    margin-bottom: 5px;
}

#about img {
    border-radius: 10%;
}

#about ul {
    text-align: left;
    list-style: disc;
    margin-left: 15px;
}

#skills {
    justify-content: center !important;
    margin-top: 50px;
    width: 100%;
}

#skills ul {
    font-family: 'Happy Monkey', cursive;
    list-style: none;
    width: 75%;
    margin: auto;
}

#skills ul li {
    margin-top: 15px;
}

#skills ul li, #skills ul li .bar {
    width: 100%;
}

.bar {
    display: flex;
}

.bar > * {
    height: 35px;
    display: flex;
    align-items: center;
}

.bar .skill {
    justify-content: center;
    background: #04c2c9;
    color: white;
    width: 15%;
    min-width: 100px;
    font-weight: bold;
    font-size: 1.1rem;
}

.bar .percent {
    width: 85%;
    background: #eeeeee;
    position: relative;
}

.bar .fill {
    height: 100%;
}

.bar .fill span {
    display: block;
    height: 100%;
    background: #00a1a7;
    animation: expandWidth 3s ease-in-out;
    animation-fill-mode: both;
}

.bar .amount {
    position: absolute;
    right: 10px;
}

.aboutwrapper {
    padding-left: 30px;
}

.comment {
    display: block;
    font-size: .75rem;
    text-align: right;
}

h3 {
    margin-bottom: 20px;
}

footer {
    padding: 15px 0;
    box-shadow: inset 0 3px 3px -3px rgba(50, 50, 50, 0.75);
}

footer > div {
    font-family: 'Happy Monkey', cursive;
    margin: 5px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, footer ul {
    margin-bottom: 0;
}

footer .links li {
    display: inline-block;
    margin-right: 10px;
}

footer .links li:last-of-type {
    margin-right: 0;
}

footer .links a {
    font-size: 2rem;
}

footer .links a:hover {
    text-decoration: none;
    filter: brightness(85%);
}

.fa-twitch {
    color: purple !important;
}

.fa-instagram {
    color: #ff2468 !important;
}

.fa-discord {
    color: #7289da !important;
}

.fa-linkedin {
    color: #2567b3 !important;
}

.fa-github-square {
    color: #323131 !important;
}

.fa-gitlab {
    color: #fc6d26 !important;
}

/* Utility */
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Media queries */
@media (max-width: 890px) {
    footer > div {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer p {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 650px) {
    header {
        align-items: normal;
        flex-wrap: wrap-reverse;
    }

    header > div {
        text-align: center;
        width: 100%;
    }

    header img {
        margin-left: 0;
        margin-bottom: 25px;
    }
}

@keyframes expandWidth {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
